<section>
    <h3 class="md-display-2 black heading">
        <strong ng-bind="'RIA16.TITLE'|translate"></strong>
    </h3>
    <p class="black"><strong ng-bind="'RIA16.HEADER1'|translate"></strong></p>
    <p class="black"><strong ng-bind="'RIA16.APPELLATE_KEY'|translate"></strong> <span ng-bind="'RIA16.APPELLATE_VALUE'|translate"></span></p>
    <p class="black"><strong ng-bind="'RIA16.AUTHORITY_KEY'|translate"></strong> <span ng-bind="'RIA16.AUTHORITY_VALUE'|translate"></span></p>
    <p class="black"><strong ng-bind="'RIA16.PHONE1_KEY'|translate"></strong> <span ng-bind="'RIA16.PHONE1_VALUE'|translate"></span></p>
    <p class="black"><strong ng-bind="'RIA16.INFO_KEY'|translate"></strong> <span ng-bind="'RIA16.INFO_VALUE'|translate"></span></p>
    <p class="black"><strong ng-bind="'RIA16.PHONE2_KEY'|translate"></strong> <span ng-bind="'RIA16.PHONE2_VALUE'|translate"></span></p>
    <p class="black"><strong ng-bind="'RIA16.SUB_HEADER'|translate"></strong></p>
    <p class="black" ng-bind="'RIA16.DESCRIPTION3'|translate"></p>
    <p class="black" ng-bind="'RIA16.DESCRIPTION4'|translate"></p>
    <p class="black"><strong ng-bind="'RIA16.HEADER2'|translate"></strong></p>
    <p class="black"><strong ng-bind="'RIA16.OTHER_KEY'|translate"></strong> <span ng-bind="'RIA16.OTHER_VALUE'|translate"></span></p>
    <p class="black"><strong ng-bind="'RIA16.MANUAL_KEY'|translate"></strong> <span ng-bind="'RIA16.MANUAL_VALUE'|translate"></span></p>
</section>