body {
  background-color: whitesmoke;
  background-image: url("../images/bg.jpg");
  /* Full height */
  height: auto;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white {
  color: white;
}

.red {
  color: red;
}

.backgroundWhite {
  background-color: white;
}

h1 {
  color: red;
}

.navbar-inverse {
  background-color: rgba(1, 1, 1, 0.7);
  border: none;
}

.nav>li {
  margin: 5px;
}

.dropdown-toggle>.caret {
  position: relative;
  bottom: 2px;
}

.margin5 {
  margin-top: 5px !important;
  background-color: rgba(1, 1, 1, 0.8);
}

.margin5>li>a {
  color: white;
}

.navbar-nav>li>a:hover {
  background-color: rgb(65, 62, 62) !important;
}

.translation {
  margin-top: 6px;
}

.open>.dropdown-menu {
  animation-name: slidenavAnimation;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration: .4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration: .4s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}

@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  background-color: #222;
  border-color: #080808;
}

.footer-text {
  color: darkgray;
}

.text {
  color: darkgray;
}

.border-footer {
  border-right: 2px solid darkgray;
  border-left: 2px solid darkgray;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info,
.hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info,
.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.cmp-details {
  margin: 10px;
  padding: 4%;
  background-color: rgba(184, 134, 11, 0.5);
}

p {
  font-size: 15px;
}

hr {
  opacity: 0;
}

.carousel-caption>h1 {
  color: mediumturquoise
}

p,
h4 {
  color: white;
}

.full-width {
  width: 100%;
}

.box {
  margin: 50px auto;
  background: #5FCF80;
  width: 150px;
  height: 150px;
}

.box:hover {
  transform: rotate(360deg);
  background: #9351A6;
  border-radius: 50%;
}

.rotate {
  transition: all 0.5s ease-in-out;
}

.rotate:hover {
  transition: all 1s ease-in-out;
}

.margin50 {
  margin-top: 60px;
}

.not-visible {
  visibility: hidden;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 40%;
  margin: 40px;
  min-height: 300px;
  text-align: center;
  background-color: white;
  padding: 0px
}

.card>h1 {
  margin-top: 0px;
  margin-bottom: 30px;
}

.card:hover {
  box-shadow: 0 40px 80px 0 rgba(1, 1, 1, 1);
}

.title-card {
  color: grey;
  font-size: 18px;
}

.card-header {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  width: 100%;
}

.chart {
  margin-left: 100px;
}

.black {
  color: black;
}

.heading {
  font-size: 30px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: tan;
}

.margin0 {
  margin: 0px;
}

.panel-border-bottom {
  border-bottom: 1px solid darkcyan
}

.panel-border-bottom:last-child {
  border: none;
}

.margin-auto {
  margin: auto
}

.green {
  color: darkgreen;
}

.margin50-left-rt {
  margin-left: 50px;
}

.min-height {
  min-height: 400px;
}

.min-customer-navbar-width {
  width: 30%;
}

.margin200-bottom {
  margin-top: 200px;
}

.angular-google-map-container {
  height: 400px;
}