<section>
    <div class="container">
        <h1 ng-bind="'MANUFACTURING_PROCESS.HEADER'|translate" class="not-visible text-center" when-visible="animateElementIn" when-not-visible="animateElementOut"></h1>
        <hr>
        <img class="not-visible img-responsive img-rounded" when-visible="animateElementIn" when-not-visible="animateElementOut"
            src="images/Manufacturing_process.jpg" alt="no image" />
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p ng-bind="'MANUFACTURING_PROCESS.DESCRIPTION1'|translate"></p>
            <p ng-bind="'MANUFACTURING_PROCESS.DESCRIPTION2'|translate"></p>
            <p ng-bind="'MANUFACTURING_PROCESS.DESCRIPTION3'|translate"></p>
            <p ng-bind="'MANUFACTURING_PROCESS.DESCRIPTION4'|translate"></p>
            <p ng-bind="'MANUFACTURING_PROCESS.DESCRIPTION5'|translate"></p>
            <p ng-bind="'MANUFACTURING_PROCESS.DESCRIPTION6'|translate"></p>
        </div>
        <hr>
        <h1 ng-bind="'MANUFACTURING_PROCESS.PAINTING_PROCEDURE.HEADER'|translate" class="not-visible text-center" when-visible="animateElementIn" when-not-visible="animateElementOut"></h1>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
                <p ng-bind="'MANUFACTURING_PROCESS.PAINTING_PROCEDURE.DESCRIPTION1'|translate"></p>
                <p ng-bind="'MANUFACTURING_PROCESS.PAINTING_PROCEDURE.DESCRIPTION2'|translate"></p>
                <p ng-bind="'MANUFACTURING_PROCESS.PAINTING_PROCEDURE.DESCRIPTION3'|translate"></p>
                <p ng-bind="'MANUFACTURING_PROCESS.PAINTING_PROCEDURE.DESCRIPTION4'|translate"></p>
            </div>
    </div>
</section>