<section>
    <h1 class="not-visible text-center" when-visible="animateElementIn" when-not-visible="animateElementOut" ng-bind="'CERTIFICATES.TITLE'|translate"></h1>
    <hr>
    <div class="row">
        <div class="col-xs-5 col-lg-5 col-md-5 col-sm-5 not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p class="green text-center" ng-bind="'CERTIFICATES.ISO'|translate"></p>
            <img class="img-responsive img-rounded margin-auto" src="images/ISO.jpg" alt="no image" />
        </div>
        <div class="col-sm-offset-1 col-xs-6 col-lg-6 col-md-6 col-sm-6 not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p class="green text-center" ng-bind="'CERTIFICATES.PERFORMANCE'|translate"></p>
            <img class="img-responsive img-rounded  margin-auto" src="images/Performance.jpg" alt="no image" />
        </div>
    </div>
    <hr>
    <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
        <p class="black" ng-bind="'CERTIFICATES.DESCRIPTION1'|translate"></p>
        <p class="black" ng-bind="'CERTIFICATES.DESCRIPTION2'|translate"></p>
    </div>
</section>