<section>
    <h1 class="not-visible text-center" when-visible="animateElementIn" when-not-visible="animateElementOut" ng-bind="'TESTING_FACILITIES.TITLE'|translate"></h1>
    <hr>
    <div class="row" class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
        <img class="img-responsive img-rounded  margin-auto" src="images/testing_facilities.jpg" alt="no image" />
    </div>
    <hr>
    <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
        <p class="black">
            <strong>{{"TESTING_FACILITIES.SUB_HEADER"|translate}}</strong>
        </p>
        <p class="black">{{"TESTING_FACILITIES.DESCRIPTION1"|translate}}</p>
        <p class="black">{{"TESTING_FACILITIES.DESCRIPTION2"|translate}}</p>
        <p class="black">{{"TESTING_FACILITIES.DESCRIPTION3"|translate}}</p>
    </div>
</section>