<section>

    <div class="container">
        <h1 class="not-visible text-center" when-visible="animateElementIn" when-not-visible="animateElementOut" ng-bind="'COMPANY_PROFILE.HEADER'|translate"></h1>
        <hr>
        <h4 class="not-visible text-center" when-visible="animateElementIn" when-not-visible="animateElementOut" ng-bind="'COMPANY_PROFILE.TITLE'|translate"></h4>
        <img class="not-visible img-responsive img-rounded" when-visible="animateElementIn" when-not-visible="animateElementOut"
            src="images/company_profile.jpg" alt="no image" />
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>
                <strong ng-bind="'COMPANY_PROFILE.DESCRIPTION_BOLD'|translate"></strong>
            </p>
            <p ng-bind="'COMPANY_PROFILE.DESCRIPTION_NORMAL1'|translate"></p>
            <p ng-bind="'COMPANY_PROFILE.DESCRIPTION_NORMAL2'|translate"></p>
            <p ng-bind="'COMPANY_PROFILE.DESCRIPTION_NORMAL3'|translate"></p>
            <p ng-bind="'COMPANY_PROFILE.DESCRIPTION_NORMAL4'|translate"></p>
            <p ng-bind="'COMPANY_PROFILE.DESCRIPTION_NORMAL5'|translate"></p>
            <p ng-bind="'COMPANY_PROFILE.DESCRIPTION_NORMAL6'|translate"></p>
        </div>
    </div>
    <!-- <div class="container">
                <div class="box rotate"></div>
              </div> -->
</section>